@model KOP.WEB.Models.ViewModels.Supervisor.EmployeeAssessmentLayoutViewModel

@{
    Layout = null;
}

@if (Model.LastGradeAssessmentDtoList.Any())
{
    <div class="list_menu_container self_assesment header">
        <ul class="list_menu_wrapper nav">
            @for (int i = 0; i < Model.LastGradeAssessmentDtoList.Count; i++)
            {
                var assessment = Model.LastGradeAssessmentDtoList[i];
                <li class="@(assessment.IsActiveAssessment ? " item_menu active" : "item_menu")">
                    <button class="link_menu description @(i == 0 ? "active" : "")" onclick="getEmployeeAssessment(@assessment.Id)">
                        @assessment.AssessmentTypeName
                    </button>
                    <span class="indicator_assessment">
                        <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                    </span>
                </li>
            }
        </ul>
    </div>
}
else
{

    <div class="undefined_page_wrapper">

        <div class="container_description">
            <div class="title">
                Оценки пока отсутствуют
            </div>
            <div class="mid_description">
                Здесь будут отображаться результаты оценок после их добавления
            </div>
        </div>
        <div class="empty_state_image_wrapper_middle">
            <img src="/image/EmptyState.png" alt="default_page">
        </div>
    </div>
}

<div id="lastAssessment">
</div>
