@model KOP.WEB.Models.ViewModels.Supervisor.EmployeeAssessmentLayoutViewModel

@{
    Layout = null;
}

@if (Model.LastAssessments.Count() != 0)
{
    <div class="list_menu_container">
        <ul class="list_menu_wrapper nav">

            @foreach (var assessment in Model.LastAssessments)
            {
                <li class="@(assessment.IsActiveAssessment ? " item_menu active" : "item_menu")">
                    <button class="link_menu description" id="assessment_link_item" onclick="getEmployeeAssessment(@assessment.Id)">
                        @assessment.AssessmentTypeName
                    </button>
                    <span class="indicator_assessment">
                        <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
                    </span>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="undefined_page_wrapper">
        <img src="/image/undefinedpage.svg" alt="default_page">
    </div>
}

<div id="lastAssessment">
</div>