@model KOP.WEB.Models.ViewModels.Supervisor.SubordinatesViewModel

@{
	Layout = null;
}

<section class="tab_filter_search_container margin_container_bottom_small">
	<div class="searchbox_main_wrapper boss">
		<input type="text" class="searchbox" id="searchbox" placeholder="Введите ФИО" onkeyup="searchBoxKeyUp(this,'classicTable')">
		<i class="fa-solid fa-magnifying-glass searchbox_icon"></i>
	</div>
	<div class="user-dropdown-wrapper">
		<div class="dropdown">
			<button class="dropdown-button" onclick="openUserDropdown()"> <span class="dropdown-button-text">Все</span> <i class="fa-solid fa-chevron-down"></i></button>
			<div class="dropdown-content">
				<div class="dropdown-item" data-value="all">Все</div>
				<div class="dropdown-item" data-value="assessmentTrue">Идет оценка</div>
				<div class="dropdown-item" data-value="assessmentFalse">Оценка не началась</div>
			</div>
		</div>
	</div>
</section>

<section class="list_division_users_main_wrapper">
	@{
		foreach (var subdivision in Model.Subdivisions)
		{
			await Html.RenderPartialAsync("_Subordinate", subdivision);
		}
	}
</section>

