@model KOP.WEB.Models.ViewModels.Employee.AssessmentLayoutViewModel

@{
    Layout = null;
}

<div class="user_assessment_dropdown_container" id="infoblock_main_container">
</div>

<script>

    getColleaguesAssessment(@Model.EmployeeId);

</script>
