@model KOP.WEB.Models.ViewModels.Employee.EmployeeLayoutViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-content">
    <div class="home_content_info">
        <div class="home_content_info_icon">
            <i class="fa-solid fa-folder"></i>
        </div>

        <div class="mid_title">
            Мой кабинет
        </div>
    </div>
</div>

<div class="main_container_content left_right_flex">

    <section class="left_section user" id="assessmentLayout">
    </section>

    <section class="right_section user" id="gradeLayout">
    </section>

    <div id="popup">
    </div>

</div>

<script src="/supervisors/js/employeeScript.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        getEmployeeAssessmentLayout();
        getGradeLayout();
    });
</script>