.dashboard-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    width: 100%;
    padding-bottom: 40px;
}

.dashboard-item {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    min-height: 150px;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
}

.activity {
    grid-column: span 1;
}

.steps {
    grid-column: span 1;
}

.calories {
    grid-column: span 1;
}

.recommended-workouts {
    grid-column: span 2;
}

.calendar {
    grid-column: span 1;
    grid-row: span 2;
}

.active-challenges {
    grid-column: span 1;
}

.post-workout-recovery {
    grid-column: span 1;
}

.dashboard-item .header-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}


/*SELECT*/
.custom-select-politics {
    position: relative;
    cursor: pointer;
    width: 400px;
    margin-bottom: 20px;
}

.select-box-politics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    color: #19191e;
    padding: 5px 15px;
    opacity: 1;
    height: 48px;
    border-radius: 12px;
    margin-top: 0px;
    background-color: #fff;
}

.select-label-politics {
    font-size: 16px;
    color: #19191e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-arrow-politics {
    font-size: 16px;
    color: #19191e;
}

.select-options-politics {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.option-politics {
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .option-politics:hover {
        background-color: #e6eaf0;
        border-radius: 6px;
    }

.icon-politics {
    font-size: 16px;
    color: #19191E;
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    width: 100%;
}

/*  */

#activityChart {
    max-width: 100%;
    height: auto;
}

#stepsChart {
    /* max-width: 100%; */
    height: auto;
    /* margin-left: -30px;
    margin-right: -30px; */
}

#caloriesChart {
    max-width: 500px; /* Настройте размер графика по вашему усмотрению */
    max-height: 300px;
    height: auto;
}

.recommended-workouts {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

#workoutsChart {
    max-width: 100%;
    height: auto;
}

#hotelCostChart {
    max-width: 70%;
    height: auto;
    margin: 20px 0; /* Отступы между графиками */
}

#ticketCountChart {
    max-width: 200px;
    max-height: 200px;
}

.canvas-column-container {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.header-btns-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.modal {
    display: none; /* По умолчанию скрыто */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон */
    overflow: auto; /* Для прокрутки, если контент выходит за пределы окна */
}

    .modal .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 80%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 16px;
    }

    .modal canvas {
        width: 80%;
        height: 80%;
    }

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.dashboard-results-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dashboard-result-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-left: 2px solid #1b74fd;
    padding-left: 20px;
}

    .dashboard-result-item:first-child {
        border-left: none;
    }

.dashboard-result-value {
    line-height: 100%;
    font-size: 34px;
}



.dashboard-container .tab-container {
    display: flex;
    gap: 10px;
    background-color: #ededfb;
    padding: 5px;
    border-radius: 12px;
    width: 100%;
    justify-content: space-between;
}

.dashboard-container .tab {
    border-radius: 12px;
    border-bottom: none;
    cursor: pointer;
    background: none;
    border: none;
    width: 50%;
    outline: none;
    color: #697388;
}

    .dashboard-container .tab.active {
        background-color: #1B74FD;
        color: #fff;
        padding: 10px;
    }

.dashboard-competences-list {
    display: flex;
    align-items: stretch;
    gap: 20px;
}

.dashboard-competence-item {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.dashboard-competences-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px;
}

.dashboard-competences-group-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dashboard-competences-group-item-text {
    min-width: 200px;
    color: #5B596E;
    font-size: 14px;
    font-weight: 500;
}

.dashboard-competences-group-item-scale {
    background-color: #1b74fd;
    height: 25px;
    border-radius: 8px;
}

    .dashboard-competences-group-item-scale.red {
        background-color: #f00;
    }

.dashboard-competences-group-item-scale-wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    justify-content: space-between;
}

.dashboard-description-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.dashboard-description-header-btn {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b74fd30;
    border-radius: 12px;
    padding: 5px 10px;
    color: #1b74fd;
    transition: transform 0.3s ease-in-out;
}

    .dashboard-description-header-btn.active {
        transition: transform 0.3s ease-in-out;
    }

        .dashboard-description-header-btn.active i {
            transform: rotate(180deg);
            transition: transform 0.3s ease-in-out;
        }

.dashboard-description-content {
    display: none;
}


    .dashboard-description-content.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

.dashboard-item-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.chart-container {
    width: 100%;
    margin-top: 15px;
}


.dashboard-description-item ul li {
    font-weight: 400;
    color: #5B596E;
    list-style: none;
}

    .dashboard-description-item ul li:before {
        content: '\2014';
        color: #306DDE;
        margin-right: 4px;
    }


.dashboard-description-item ul {
    color: #191c30;
    padding: 0px;
    margin: 10px 0px;
}


.dashboard-result-text {
    color: #5B596E;
}

.dashboard-competence-header {
    font-size: 18px;
}
