<!DOCTYPE HTML>
@await Html.PartialAsync("_HeaderPartial.cshtml")
<body class="hold-transition sidebar-mini layout-fixed">
    @await Html.PartialAsync("_SidebarPartial.cshtml")
    <section class="home-section" role="main">
        @RenderBody()
        <div class="overlay" id="overlayWrapper" onclick="closeBtnPopup(this, false)"></div>
    </section>
    @await Html.PartialAsync("_ScriptsPartial.cshtml")
</body>