@model KOP.Common.Dtos.AccountDtos.LoginDto

@{
	Layout = null;
}

<head>
	<title>Авторизация</title>
	<link rel="stylesheet" href="/css/main_style.css">
</head>
<body>
	<!-- Popup -->
	<div id="projectPopup" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background-color:white; border-radius:10px; box-shadow:0 4px 20px rgba(0,0,0,0.2); z-index:1000; overflow:hidden; width:600px;">
		<div style="height:300px; background-image:url('/image/heaven.jpg'); display:flex; align-items:center; justify-content:center; cursor:pointer;" id="heavenSection">
		</div>
		<div style="height:300px; background-image:url('/image/hell.jpg'); background-position: 30% center; display:flex; align-items:center; justify-content:center; cursor:pointer;" id="hellSection">
		</div>
	</div>

	<style>
		/* Эффект при наведении */
		#heavenSection:hover, #hellSection:hover {
			transform: scale(1.05); /* Увеличение размера */
			filter: brightness(1.2); /* Увеличение яркости */
		}
	</style>

	<!-- Фон для затемнения -->
	<div id="overlay" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:999;"></div>

	<section class="login_container">
		<div class="login_main_wrapper">
			<div class="form signup">
				<header class="header_login_form">Вход</header>
				<form id="loginForm" class="login_form">
					<!--дизайн текста об ошибке при авторизации-->
					<div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center" id="validationText"></div>
					<div style="font-size:23px; font-family:Impact" class="text-center" id="description"></div>
					<input id="login" type="text" class="form-control" placeholder="Логин" minlength="3" maxlength="20" required />
					<input id="password" type="password" class="form-control" placeholder="Пароль" minlength="3" maxlength="20" required />
					<a href="#" class="forgot_pass" id="forgot_pass">Забыли пароль?</a>
					<input type="submit" value="Войти" />
				</form>
			</div>
			<div class="form login">
				<header class="header_login_form">KOП</header>
				<form id="remindPasswordForm" class="login_form">
					<div class="description">
						Пароль будет выслан Вам на рабочую почту
					</div>
					<input id="loginRemindPassword" type="text" class="form-control" placeholder="Логин" minlength="3" maxlength="20" required />
					<input type="submit" value="Напомнить пароль" />
				</form>
			</div>
		</div>
	</section>
</body>

<script src="~/js/loginScript.js">

</script>